In [19]:
%pip install pandas sqlalchemy pyodbc

Requirement already satisfied: pandas in c:\users\iheb\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\iheb\appdata\local\programs\python\python312\lib\site-packages (2.0.31)
Requirement already satisfied: pyodbc in c:\users\iheb\appdata\local\programs\python\python312\lib\site-packages (5.1.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\iheb\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\iheb\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\iheb\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\iheb\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\iheb\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\iheb\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: six>=1.5 in c:\users\iheb\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import json
import pandas as pd
from sqlalchemy import create_engine
import warnings
import os
%time

CPU times: total: 0 ns
Wall time: 997 μs

In [21]:
%time
warnings.filterwarnings('ignore')
# Load configuration from JSON file
with open('C:/Users/Iheb/Desktop/Cours/Projects/Vesitaire_use_case/conf.json', 'r') as config_file:
    config = json.load(config_file)

# Fetching credentials from the configuration
server = config['server']
database = config['database']
username = config['username']
password = config['password']
driver = config['driver']

# Create a database connection string
connection_string = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}&TrustServerCertificate=yes"

# Create a SQLAlchemy engine
engine = create_engine(connection_string)

# Executing query 1
sales = 'SELECT * FROM [Testing].[dbo].[sales_vestiaire]'

# Execute the query and load data into a pandas DataFrame
sales_vestiaire = pd.read_sql(sales, engine)

#Executing query 2
country = 'SELECT * FROM [Testing].[dbo].[country]'

# Execute the query and load data into a pandas DataFrame
country = pd.read_sql(country, engine)

CPU times: total: 0 ns
Wall time: 0 ns

Voir les premières lignes de chaque table dans notre Base de données

In [22]:
print(sales_vestiaire.head())
print(country.head())

   ID_ORDER  ID_PRODUCT  ID_BUYER  ID_SELLER  ID_SELLER_COUNTRY  \
0  34033734    13681706   9666775    6723223                203
1  33933770    13575555   8259842    9983902                222
2  33415990    10239167   8541994     144764                141
3  33415990    10239167   8941774     144764                141
4  33415990    10239167   8541774     944764                141

   ID_BUYER_COUNTRY        DATE_PAYMENT      BRAND  CATEGORY     REVENUE
0               170 2021-01-07 00:09:24  Dsquared2  clothing   57.274559
1               222 2021-01-05 00:23:10      Eytys     shoes  168.739868
2               204 2021-01-06 00:06:50       Dior     shoes  126.414001
3               204 2021-01-06 00:06:50       Dior     shoes  126.414001
4               204 2021-01-06 00:06:50       Dior     shoes  126.414001
   ID_COUNTRY   REGION         COUNTRY
0           0  UNKNOWN         UNKNOWN
1           1     EMEA     Afghanistan
2           2     EMEA         Albania
3           3     EMEA         Algeria
4           4     APAC  American Samoa

In [27]:
def execute_query(query_file, engine, **kwargs):
    try:
        query_path = os.path.join('C:/Users/Iheb/Desktop/Cours/Projects/Vesitaire_use_case/queries', query_file)
        with open(query_path, 'r') as sql_file:
            query = sql_file.read()
            df = pd.read_sql(query, engine, **kwargs)
            print(f"Query {query_file} executed successfully.\n")
            print("\n")
            return df  # Return DataFrame if needed for further processing
    except Exception as e:
        print(f"Error executing query from {query_file}: {str(e)}\n")

execute_query('Q1.sql', engine)

Query from Q1.sql executed successfully.

                  BRAND   Tot_revenue
0                Chanel  67121.056709
1                 Gucci  50919.974384
2                Hermès  42004.112427
3         Louis Vuitton  40947.424335
4                  Dior  14767.671007
5                 Prada  14588.179955
6       Dolce & Gabbana  12011.271271
7         Saint Laurent   7774.730789
8            Balenciaga   7746.351032
9  Non Signé / Unsigned   7688.520052